body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.card-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header .logo-accent {
  color: #2e2f42;
}

.header-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-nav .link:hover,
.header-nav .link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address .link:hover,
.header-address .link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.hero-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.team {
  background-color: #f4f4fd;
}

.team .card {
  background-color: #ffffff;
}

.team .card-title {
  text-align: center;
}

.team .card-text {
  text-align: center;
}

.footer {
  background-color: #2e2f42;
}

.footer .logo-accent {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
